.flash-screen .name,
.opponent .name {
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #272727;
  border-radius: 5px;
}



/* flash screen */
.flash-screen-container {
  position: absolute;
  bottom: calc(var(--card-height) + var(--organ-size) + 18em);
  left: 50%;
  translate: -50% 0%;
}

.flash-screen {
  border-radius: 0.4em;
  display: flex;
  padding: 1em;
  gap: 5em;
}

.flash-screen[data-cardtype="affliction"] {
  background-color: var(--clr-red-alpha-30);
}

.flash-screen[data-cardtype="resistance"] {
  background-color: var(--clr-blue-alpha-30);
}

.flash-screen[data-cardtype="poison"] {
  background-color: var(--clr-red-alpha-30);
}

.flash-screen[data-cardtype="bureaucracy"] {
  background-color: var(--clr-gray);
}

.flash-screen[data-cardtype="tactical"] {
  background-color: var(--clr-gray);
}

.flash-screen[data-cardtype="wild"] {
  background-color: var(--clr-gray);
}

.flash-screen .actor {
  position: relative;
}

.flash-screen .actor::after {
  content: "USED";
  position: absolute;
  top: 2em;
  right: -3em;
}

.flash-screen .target {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1em;
}

.flash-screen .attack-card {
  margin-block: 2em;
}

.flash-screen .target::before {
  content: "ON";
  position: absolute;
  bottom: 6em;
  left: -3em;
}

.flash-screen[data-cardtype="poison"] .target::before {
  content: "REMOVED";
}

.flash-screen[data-cardtype="poison"] .actor::after {
  content: "GOT";
}