* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: hsl(0, 0%, 15%);
  --bg-gradient: radial-gradient(var(--bg-color), black);
  --fg-color: hsl(0, 0%, 95%);
  --card-height: 11em;
  --card-width: 9em;
  --organ-size: 44px;
  --clr-light-red: hsl(0, 90%, 60%);
  --clr-red: hsl(348, 83%, 47%);
  --clr-red-alpha-30: hsla(348, 83%, 47%, 0.3);
  --clr-dark-red: hsl(355, 85%, 30%);
  --clr-gold: hsl(51, 100%, 63%);
  --clr-gold-alpha-30: hsla(51, 100%, 63%, 0.3);
  --clr-dark-gray: hsl(0, 0%, 12%);
  --clr-gray: hsl(0, 0%, 30%);
  --clr-gray-alpha-30: hsla(0, 0%, 30%.0.34);
  --clr-light-gray: hsl(0, 0%, 65%);
  --clr-blue-alpha-30: hsla(189, 100%, 80%, 0.3);
  --clr-violet: hsl(275, 80%, 60%);
  --clr-dark-violet: hsl(275, 90%, 30%);
  --clr-dark-violet-alpha-30: hsla(275, 90%, 30%, 0.3);

  --clr-green: hsl(120, 50%, 50%);
}

body {
  font-family: Schoolbell, fantasy;
  line-height: 1.2;
  background-image: var(--bg-gradient);
  color: var(--fg-color);
  height: 100vh;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* organs */

.organ {
  background-color: hsl(208, 100%, 97%);
  font-size: larger;
  width: var(--organ-size);
  height: var(--organ-size);
  border-radius: 100vw;
  position: relative;
}

.organ[data-affliction="1"] > img,
.organ[data-affliction="2"] > img,
.organ[data-affliction="3"] > img {
  filter: brightness(50%);
}

.organ[data-affliction="1"] .afflict-1 {
  display: block !important;
}
.organ[data-affliction="2"] .afflict-1,
.organ[data-affliction="2"] .afflict-2 {
  display: block;
}
.organ[data-affliction="3"] .afflict-1,
.organ[data-affliction="3"] .afflict-2,
.organ[data-affliction="3"] .afflict-3 {
  display: block;
}
.organ > img {
  font-size: 14px;

  color: crimson;
  width: 150%;
  aspect-ratio: 1;
  object-fit: contain;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.affliction-markers {
  position: absolute;
  top: 0;
  right: 6px;
}
.affliction-markers img {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;

  top: 0;
}
.affliction-markers .afflict-2 {
  top: 15px;
  right: 0px;
}
.affliction-markers .afflict-3 {
  top: 30px;
}

/* Player */
.player-area {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.attack-cards {
  display: flex;
  gap: 1em;
}

[data-type="affliction"] {
  background-image: radial-gradient(var(--clr-red), var(--clr-dark-red));
  color: var(--clr-gold);
  border: 0.3em solid var(--clr-red);
}

[data-type="bureaucracy"] {
  background-image: radial-gradient(var(--clr-gray), var(--clr-dark-gray));
  color: var(--clr-gold);
  border: 0.3em solid var(--clr-gold);
}

[data-type="tactical"] {
  background-image: radial-gradient(var(--clr-gray));
  color: var(--fg-color);
  border: 0.3em solid var(--clr-light-gray);
}

[data-type="cure"] {
  background-image: radial-gradient(
    hsl(from hsl(210, 65%, 65%) h s calc(l * 1.2)),
    hsl(210, 65%, 65%)
  );
  color: var(--fg-color);
  border: 0.3em solid hsl(0, 0%, 95%);
}

[data-type="resistance"] {
  background-image: radial-gradient(hsl(0, 0%, 95%));
  color: hsl(197, 65%, 65%);
  border: 0.3em solid hsl(197, 65%, 65%);
}

[data-type="dummy"],
[data-type="wild"] {
  background-image: radial-gradient(var(--clr-light-red), var(--clr-dark-red));
  color: var(--clr-gold);
  border: 0.3em solid var(--clr-gray);
}
[data-type="metastasis"] {
  background-image: radial-gradient(var(--clr-dark-gray));
  color: var(--fg-color);
  border: 0.3em solid var(--clr-red);
}

[data-type="instant wild"] {
  background-image: linear-gradient(var(--clr-red), rgb(255, 180, 95));
  color: var(--fg-color);
  border: 0.3em solid var(--clr-gray);
}

[data-type="necrosis"] {
  background-image: radial-gradient(var(--clr-violet), var(--clr-dark-violet));
  color: var(--fg-color);
  border: 0.3em solid var(--clr-gray);
}

[data-type="poison"] {
  background-image: radial-gradient(var(--clr-gray), black);
  color: var(--fg-color);
  border: 0.3em solid var(--clr-light-gray);
}

.attack-card {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 0.3em;
  box-sizing: border-box;
  padding: 0.2em;
  cursor: pointer;
  transition: 300ms;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.attack-card.flip .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.4em;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.4em;
  box-sizing: border-box;
}

.card-back {
  transform: rotateY(180deg);
  justify-content: center;
}

.card-img {
  width: 90%;
  height: 60%;
}

.info-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  border: 1px solid #f7f2d8;
  background: var(--bg-color);
  color: #f7f2d8;
  cursor: pointer;
}
.attack-card .instant {
  width: 1.2em;

  object-fit: contain;
  position: absolute;
  left: 35px;
  bottom: 5px;
}
.attack-card .type {
  width: 1.5em;

  position: absolute;
  left: 5px;
  bottom: 5px;
}
.target-info-container {
  width: 100%;
}
.attack-card .target-info {
  position: absolute;
  max-width: 100%;
  bottom: 1.8em;
}
.attack-card .target-info > div {
  display: flex;
  font-size: 13px;
  gap: 10px;
}
.attack-card .target-info > div > div {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.attack-card .target-info > div > div > div {
  position: relative;
  width: 1.5em;
  height: 1.5em;

  background-color: hsla(0, 0%, 100%, 0.7);
  border-radius: 100vw;
}
.attack-card .target-info img {
  position: absolute;
  z-index: 1;
  width: 2em;
  height: 2em;
  object-fit: contain;

  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.card-desc {
  font-size: 16px;
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow: auto;
}

.disabled-card {
  background: rgb(72, 72, 72);
  border: 0.3em solid rgb(72, 72, 72);
  color: var(--clr-light-gray);
  text-decoration: line-through 4px;
}

.attack-card:hover {
  box-shadow: 0 0 10px 1px hsl(0, 0%, 0%);
 transform: scale(1.03);
}

.organs {
  gap: 1em;
  display: flex;
}

.player-area .player {
  position: relative;
  right: -30em;
  bottom: 4em;
  width: 10em;
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid white;
  padding: 0.4em;
  padding-right: 1em;
  border-radius: 100vw;
}

.player-area .player .name {
  text-transform: capitalize;
}

h1 {
  font-size: 18px;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

h1 {
  font-family: "Nerko One";
  letter-spacing: 1px;
}
.name {
  font-family: SchoolBell;
}

/* opponent */

.opponent-area {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-areas:
    "opp-2 . opp-3 . opp-4"
    ".     .   .   .     ."
    "opp-1 .   .   .  opp-5";
  justify-content: space-between;
}

.opponent[data-position="1"] {
  grid-area: opp-1;
}

.opponent[data-position="2"] {
  grid-area: opp-2;
}

.opponent[data-position="3"] {
  grid-area: opp-3;
}

.opponent[data-position="4"] {
  grid-area: opp-4;
}

.opponent[data-position="5"] {
  grid-area: opp-5;
}

.opponent {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 4em;
  height: min-content;
}

.highlight-avatar {
  box-shadow: 0px 0px 0px 5px var(--clr-gold);
}

.avatar {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100vw;
  background-image:
    radial-gradient(circle at 50% 30%, rgb(72, 72, 72) 30%, transparent 30%),
    radial-gradient(circle at 50% 100%, rgb(72, 72, 72) 50%, transparent 50%),
    linear-gradient(#fff, #fff);
}

.flash-screen .name,
.opponent .name {
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #272727;
  border-radius: 5px;
  text-overflow: ellipsis;
}

.popup {
  position: absolute;
  bottom: calc(var(--card-height) + var(--organ-size) + 10em);
  left: 50%;
  translate: -50% 0;
  display: flex;
  gap: 1em;
  z-index: 10;
}

/* popups */
.popup-removable-organs,
.popup-afflictable-organs {
  background-color: var(--clr-gray);
  border-radius: 0.4em;

  align-items: center;
  display: flex;
  gap: 1em;
}

popup-removable-organs div,
.popup-afflictable-organs > div {
  margin: 0.8em;
}
popup-removable-organs img,
.popup-afflictable-organs img {
  cursor: pointer;
  transition: 200ms;
}
popup-removable-organs img:hover,
.popup-afflictable-organs img:hover {
  /* box-shadow: 0 0 10px 1px hsl(0, 0%, 0%); */
  scale: 1.05;
}

/* clinical audit */
.clinical-popup {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  border: 1px solid wheat;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
}
.skip {
  padding: 2em;
}
.footer {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}
.footer > button > img {
  height: 2em;
  width: 2em;
}

.avatar[data-is-alive="true"] {
  box-shadow: 0px 0px 0px 5px var(--clr-red);
}

.opponent[data-is-alive="true"] {
  opacity: 0.5;
}

.player[data-is-alive="true"] {
  opacity: 0.5;
  box-shadow: 0px 0px 0px 5px var(--clr-red);
}

/* Discard pile (slightly right of center) */
.discard-deck {
  position: absolute;
  top: 30%;
  left: 55%;
  width: 7.5em;
  height: 10.5em;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;

}

 .discard-deck,.deck {
  background: linear-gradient(145deg, #1e293b, #0f172a);
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: 
    0 4px 20px rgba(0,0,0,0.6),
    inset 0 0 10px rgba(255,255,255,0.05);
  border-radius: 12px;

}
.discard-top {
  width: 100%;
  height: 100%;

    position: absolute;
    inset: 0; 
}

.deck {
  position: absolute;
  top: 30%;
  left: 45%;
  width: 7.5em;
  height: 10.5em;
  background: url("/assets/background/deck_back.png") center/contain no-repeat;


  border: 1px solid #baacacc6; 
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.6),
    inset 0 0 10px rgba(255,255,255,0.1);

  z-index: 5;
  transition: transform 0.2s ease
}

/* base game */
.player-area,
.opponent-area {
  z-index: 1;
}

/* deck */
.deck,
.discard-deck {
  z-index: 5;
}

/* animation layer */
.animation-layer {
  z-index: 10;
}

/* popup */
.popup {
  z-index: 50;
}

/* flash screen (TOP MOST) */
.flash-screen-container {
  z-index: 100;
}
.discard-deck {
  z-index: 20;
}

.flash-screen-container {
  z-index: 100;
}

.discard-top .attack-card {
  position: absolute;
  inset: 0;

  width: 100% !important;
  height: 100% !important;

  transform: none !important;
  margin: 0 !important;

  pointer-events: none;
}
/* animation clone (below flash) */
.attack-card.clone {
  z-index: 30;
}

/* discard deck */
.discard-deck {
  z-index: 40;
}
