* {
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: hsl(0, 0%, 15%);
  --bg-gradient: radial-gradient(var(--bg-color), black);
  --fg-color: hsl(0, 0%, 95%);
  --card-height: 9em;
  --card-width: 7em;
  --organ-size: 44px;
  --clr-red: hsl(348, 83%, 47%);
  --clr-red-alpha-30: hsla(348, 83%, 47%, 0.3);
  --clr-dark-red: hsl(355, 85%, 30%);
  --clr-gold: hsl(51, 100%, 63%);
  --clr-dark-gray: hsl(0, 0%, 12%);
  --clr-gray: hsl(0, 0%, 30%);
  --clr-light-gray: hsl(0, 0%, 65%);
}

body {
  font-family: Schoolbell, fantasy;
  line-height: 1.2;
  background-image: var(--bg-gradient);
  color: var(--fg-color);
  height: 100vh;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.organ {
  background-color: hsl(208, 100%, 97%);
  font-size: larger;
  width: var(--organ-size);
  height: var(--organ-size);
  border-radius: 100vw;
  position: relative;
}

.organ[data-affliction="1"]::before {
  content: "";

  position: absolute;
  /* display: block; */
  right: -8px;
  z-index: 3;
  width: 18px;
  height: 18px;

  background-image: url("/assets/icons/blood_drop.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.organ[data-affliction="1"] > img {
  filter: brightness(60%);
}
.organ img {
  font-size: 14px;

  color: crimson;
  width: 150%;
  aspect-ratio: 1;
  object-fit: contain;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

/* Player */
.player-area {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.attack-cards {
  display: flex;
  gap: 1em;
}
[data-type="affliction"] {
  background-image: radial-gradient(var(--clr-red), var(--clr-dark-red));
  color: var(--clr-gold);
  border: 0.3em solid var(--clr-red);
}
[data-type="bureaucracy"] {
  background-image: radial-gradient(var(--clr-gray), var(--clr-dark-gray));
  color: var(--clr-gold);
  border: 0.3em solid var(--clr-gold);
}
[data-type="tactical"] {
  background-image: radial-gradient(var(--clr-gray), var(--clr-gray));
  color: var(--fg-color);
  border: 0.3em solid var(--clr-light-gray);
}
[data-type="dummy"], [data-type="wild"] {
  background-image: radial-gradient(yellowgreen, var(--clr-gray));
  color: var(--fg-color);
  border: 0.3em solid var(--clr-light-gray);
}
.attack-card {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 0.3em;
  box-sizing: border-box;

  padding: 0.2em;
  transition: 200ms;
  cursor: pointer;
}

.disabled-card {
  background: rgb(72, 72, 72);
  border: 0.3em solid rgb(72, 72, 72);
  color: var(--clr-light-gray);
  text-decoration: line-through 4px;
}

.attack-card:hover {
  box-shadow: 0 0 10px 1px hsl(0, 0%, 0%);
  scale: 1.03;
}
.organs {
  gap: 1em;
  display: flex;
}
.player-area .player {
  position: relative;
  right: -30em;
  bottom: 4em;
  width: 10em;
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid white;
  padding: 0.4em;
  padding-right: 1em;
  border-radius: 100vw;
}

.player-area .player .name {
  text-transform: capitalize;
}
.popup {
  position: absolute;
  bottom: calc(var(--card-height) + var(--organ-size) + 10em);
  display: flex;
  gap: 1em;
}
h1 {
  font-size: 18px;
  word-wrap: break-word;
  text-align: center;
}
h1,
.name {
  font-family: "Nerko One";
  letter-spacing: 1px;
}
/* opponent */

.opponent-area {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-areas:
    "opp-2 . opp-1 . opp-3"
    ".     .   .   .     ."
    "opp-4 .   .   . opp-5";
  justify-content: space-between;
}

.opponent:nth-child(1) {
  grid-area: opp-1;
}
.opponent:nth-child(2) {
  grid-area: opp-2;
}
.opponent:nth-child(3) {
  grid-area: opp-3;
}
.opponent:nth-child(4) {
  grid-area: opp-4;
}
.opponent:nth-child(5) {
  grid-area: opp-5;
}

.opponent {
  display: flex;
  gap: 1em;
  align-items: flex-start;
  padding: 1em;
}
.highlight-avatar {
  box-shadow: 0px 0px 0px 5px var(--clr-gold);
}

.avatar {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100vw;
  background-image:
    radial-gradient(circle at 50% 30%, rgb(72, 72, 72) 30%, transparent 30%),
    radial-gradient(circle at 50% 100%, rgb(72, 72, 72) 50%, transparent 50%),
    linear-gradient(#fff, #fff);
}

.flash-screen .name,
.opponent .name {
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #272727;
  border-radius: 5px;
}

/* popups */
.popup-afflicatble-organs {
  background-color: var(--clr-gray);
  border-radius: 0.4em;
  /* padding: 0.8em; */
  display: flex;
  gap: 1em;
}

.popup-afflicatble-organs > div {
  margin: 0.8em;
}

.popup-afflicatble-organs img {
  cursor: pointer;
  transition: 200ms;
}

.popup-afflicatble-organs img:hover {
  /* box-shadow: 0 0 10px 1px hsl(0, 0%, 0%); */
  scale: 1.05;
}

/* flash screen */

.flash-screen {
  background-color: var(--clr-red-alpha-30);
  position: absolute;
  bottom: calc(var(--card-height) + var(--organ-size) + 20em);
  left: 50%;

  translate: -50% 0%;

  border-radius: 0.4em;
  display: flex;
  padding: 1em;
  gap: 5em;
}

.flash-screen .actor {
  position: relative;
}
.flash-screen .actor::after {
  content: "USED";
  position: absolute;
  top: 2em;
  right: -3em;
}

.flash-screen .target {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1em;
}
.flash-screen .attack-card {
  margin-block: 2em;
}
.flash-screen .target::before {
  content: "ON";
  position: absolute;
  bottom: 6em;
  left: -3em;
}
