* {
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #1f1f1f;
  --fg-color: #fdfdfd;
  --card-height: 8em;
  --organ-size: 50px;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  height: 100vh;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.opponent-area {
  flex: 1;
  width: 100%;
  /* height: 100%; */
  display: grid;
  grid-template-areas:
    "opp-2 . opp-1 . opp-3"
    ".     .   .   .     ."
    "opp-4 .   .   . opp-5";
  justify-content: space-between;
}

.opponent:nth-child(1) {
  grid-area: opp-1;
}
.opponent:nth-child(2) {
  grid-area: opp-2;
}
.opponent:nth-child(3) {
  grid-area: opp-3;
}
.opponent:nth-child(4) {
  grid-area: opp-4;
}
.opponent:nth-child(5) {
  grid-area: opp-5;
}

.opponent {
  display: flex;
  gap: 1em;
  align-items: flex-start;
}

.organ {
  background-color: rgba(240, 248, 255, 1);
  color: crimson;
  font-size: larger;
  width: var(--organ-size);
  height: var(--organ-size);
  border-radius: 100vw;
}

.player-area {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.attack-cards {
  display: flex;
  gap: 1em;
}

.attack-card {
  width: 6em;
  height: var(--card-height);
  color: crimson;
  background-color: aliceblue;
}

.organs {
  gap: 1em;
  display: flex;
}

.highlight-avatar {
  box-shadow: 5px 5px 5px 5px gold;
}

.popup {
  position: absolute;
  bottom: calc(var(--card-height) + var(--organ-size) + 4em);
}
