* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: hsl(0, 0%, 12%);
  --bg-gradient: radial-gradient(var(--bg-color) 40%,black);
  --fg-color: hsl(0, 0%, 95%);
  --clr-black:black;
  --clr-red: hsl(348, 83%, 47%);
  --clr-dark-blue: hsl(216, 89%, 25%);
  --clr-dark-red: hsl(355, 85%, 30%);
  --clr-gold: hsla(51, 100%, 50%, 0.9);
  --clr-gray: hsl(0, 0%, 30%);
  --clr-gray-alpha-30: hsla(0, 0%, 30%.0.34);
  --clr-light-gray: hsl(0, 0%, 65%);
}

body {
  font-family: Schoolbell, fantasy;
  line-height: 1.2;
  background-image: var(--bg-gradient);
  color: var(--fg-color);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}

header h1 {
  padding-top: 1em;
  font-family: "serif";
  font-size: 80px;
}

#user-info{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  gap:5px;
}


#avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100vw;
  background-image:
    radial-gradient(circle at 50% 30%, rgb(72, 72, 72) 30%, transparent 30%),
    radial-gradient(circle at 50% 100%, rgb(72, 72, 72) 50%, transparent 50%),
    linear-gradient(#fff, #fff);
}


main {
  height: 70vh;
  width: 100vw;
}

#room-connection-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

#room-connection-btns {
  width: 300px;
  height: 200px;
  gap: 10px;
  flex-direction: column;
  background-color: hsl(0, 0%, 9%);
  box-shadow: 0 0 5px rgb(252, 252, 252, 0.5);
  border-radius: 8px;
}

#room-connection-btns a {
  width: 40%;
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: "Nerko one";
  font-size: 18px;
  border-radius: 0.2em;
  background-color: var(--clr-gold);
  box-shadow: 0 0 5px var(--clr-red);
  padding: 0.4em 0.8em;
  cursor: pointer;
}

#room-connection-btns a:hover{
  background-color: var(--clr-dark-blue);
  transform: scale(1.0.3);
  box-shadow: 0 0 5px white;
  color:white;
}

#username{
  font-size: 24px;
}