@import url(./title.css);

:root {
  --bg-color: hsl(0, 0%, 12%);
  --bg-gradient: radial-gradient(var(--bg-color) 40%, black);
  --fg-color: hsl(0, 0%, 95%);
  --clr-black: black;
  --clr-red: hsl(348, 83%, 47%);
  --clr-dark-blue: hsl(216, 89%, 25%);
  --clr-dark-red: hsl(355, 85%, 30%);
  --clr-gold: hsla(51, 100%, 50%, 0.9);
  --clr-gray: hsl(0, 0%, 30%);
  --clr-gray-alpha-30: hsla(0, 0%, 30%.0.34);
  --clr-light-gray: hsl(0, 0%, 65%);
}

#title {
  padding: 12vh 0vh;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

#menu{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#user-info, #rules-btn{
  padding:30px 50px;
}

#user-info {
  font-family:Schoolbell, fantasy;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  gap: 10px;
}

#avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100vw;
  /* background-image:
    radial-gradient(circle at 50% 30%, rgb(72, 72, 72) 30%, transparent 30%),
    radial-gradient(circle at 50% 100%, rgb(72, 72, 72) 50%, transparent 50%),
    linear-gradient(#fff, #fff); */
    border: 2px solid black;
    box-shadow: 0px 0px 10px  rgb(255, 255, 255);
}

main {
  height: 60%;
  width: 100vw;
  display:flex;
  justify-content: center;
}

#room-connection-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

#room-connection-btns {
  width: 350px;
  height: 200px;
  gap: 10px;
  flex-direction: column;
  /* background-color: hsl(0, 0%, 9%); */
  /* box-shadow: 0 0 5px rgb(252, 252, 252, 0.5); */
  background-color:hsl(0, 0%, 12%);
  box-shadow: 0 0 8px hsl(0, 0%, 0%);
  border-radius: 8px;
}

#room-connection-btns a {
  transition: 200ms;
  width: 40%;
  text-decoration: none;
  text-align: center;
  color: var(--clr-dark-gray);
  /* text-shadow: 1px 1px 2px rgb(255, 255, 122); */
  font-family: "Nerko one";
  font-size: 18px;
  border-radius: 0.2em;
  background-color: var(--clr-gold);
  /* box-shadow: 0 0 5px var(--clr-red); */
  padding: 0.4em 0.8em;
  cursor: pointer;

}

#room-connection-btns a:hover{
  /* background-color: var(--clr-dark-blue); */
  transform: scale(1.05);
}

#username {
  font-size: 24px;
}

.options {
  display: flex;
  gap: 1em;
  height: fit-content;
  width: fit-content;
  padding: 0px 50px;
}

#logout,
#rules-btn {
  position: relative;
  padding: 0;
  color: var(--clr-gold);
  text-decoration: none;
}

#rules-btn::before,
#logout::before {
  content: "";
  position: absolute;
  bottom: -2px;
  background: var(--clr-gold);
  height: 2px;
  width: 0%;
  transition: 0.3s;
}

#rules-btn:hover::before,
#logout:hover::before {
  width: 100%;
}
