@import url(./title.css);

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: hsl(0, 0%, 15%);
  --bg-gradient: radial-gradient(black, var(--bg-color));
  --fg-color: hsl(0, 0%, 95%);
  --clr-black: black;
  --clr-red: hsl(348, 83%, 47%);
  --clr-dark-blue: hsl(216, 89%, 25%);
  --clr-dark-red: hsl(355, 85%, 30%);
  --clr-gold: hsla(51, 100%, 50%, 0.9);
  --clr-gray: hsl(0, 0%, 30%);
  --clr-gray-alpha-30: hsla(0, 0%, 30%.0.34);
  --clr-light-gray: hsl(0, 0%, 65%);
}

/* body {
  font-family: Schoolbell, fantasy;
  line-height: 1.2;
  background-image: var(--bg-gradient);
  color: var(--fg-color);
  height: 100vh;
} */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  height: 100vh;
  width: 100vw;
}

#room-id-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.3em;
  padding: 3em;
  /* background-color: var(--bg-color);
  box-shadow: 0 0 5px black;
  border-radius: 0.4em; */
  background-color: hsl(0, 0%, 12%);
  box-shadow: 0 0 8px hsl(0, 0%, 0%);
  border-radius: 0.4em;
  position: absolute;
}

#textarea-for-room-id {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;
}

#room-id-form input {
  width: 200px;
}

input {
  color: var(--fg-color);
  border: none;
  border-radius: 0.2em;
  font-size: 18px;
  padding: 0.4em 0.8em;
  background-color: hsla(51, 100%, 50%, 0.1);

  /* outline-style: dashed; */
}

input:focus {
  outline-color: hsla(51, 100%, 50%, 0.5);
}

#room-id-form button {
  cursor: pointer;
  font-family: "Nerko one", fantasy;
  font-size: 20px;
  border: none;
  border-radius: 0.2em;
  background-color: var(--clr-gold);
  box-shadow: 0 0 5px var(--clr-red);
  padding: 0.3em 0.5em;
}

a {
  color: rgb(255, 255, 255);
  position: absolute;
  text-decoration: none;
  float: right;
  font-size: 20px;
  font-family: sans-serif;
  top:15px;
  right:20px;
 opacity: 0.6;

}


