@import url(./title.css);

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-color: #1f1f1f;
  --fg-color: #fdfdfd;
  --organ-size: 44px;
  --clr-red: crimson;
  --bg-gradient: radial-gradient(var(--bg-color), black);
  --clr-dark-red: hsl(355, 85%, 30%);
  --clr-gold: hsla(51, 100%, 50%, 0.9);
}

body {
  backdrop-filter: brightness(30%) contrast(100%);
}
header {
  width: 95%;
}

#waiting-header,
#waiting-table,
#table-footer,
ul {
  display: flex;
  align-items: center;
}

#exit-btn {
  padding: 20px;
}

main {
  width: 100vw;
  height: 88vh;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#waiting-table {
  width: 800px;
  height: 600px;
  background-color: hsl(0, 0%, 20%);
  box-shadow: 0 0 8px hsl(0, 0%, 0%);
  border-radius: 0.4em;
  flex-direction: column;
  row-gap: 15px;
  border-radius: 10px;
  justify-content: none;
}

#waiting-header {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  background-color: rgb(130, 25, 25);
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px -2px 8px 1px rgba(255, 255, 255, 0.8);
}

#waiting-header h2 {
  font-family: "Nerko One";
  letter-spacing: 1px;
  color: rgb(247, 184, 59);
}

#waiting-members {
  width: 88%;
}

ul {
  flex-direction: column;
}

li {
  list-style: none;
  width: 100%;
  color: rgb(194, 194, 194);
  padding: 15px;
  font-size: 22px;
  border-bottom: 1px solid rgb(95, 95, 95);
  display: flex;
  align-items: center;
  column-gap: 18px;
}

li:last-child {
  border-bottom: none;
}

/* .player-profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid white;
} */

.player-profile {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100vw;
  border: 2px solid black;
  background-image:
    radial-gradient(circle at 50% 30%, rgb(0, 0, 0) 30%, transparent 30%),
    radial-gradient(circle at 50% 100%, rgb(0, 0, 0) 50%, transparent 50%),
    linear-gradient(#fff, #fff);
}

.loader {
  /* border: 4px solid #1e293b; */
  border: 4px solid hsla(51, 100%, 50%, 0.2);
  /* border-top: 4px solid #38bdf8; */
  border-top: 4px solid gold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#table-footer {
  margin: 10px;
  justify-content: center;
  gap: 10px;
}

.timer {
  color: rgb(253, 208, 23) !important;
  text-shadow:
    0 0 10px rgba(255, 215, 0, 0.7),
    0 0 20px rgba(255, 215, 0, 0.5);

  font-weight: bold;
  font-size: 20px;
}

#waiting-msg {
  color: rgb(191, 190, 190);
  font-size: 18px;
  letter-spacing: 1px;
  font-family: Schoolbell, fantasy;
}

#players-count {
  color: white;
}

.start-button {
  cursor: pointer;
  font-family: "Nerko one", fantasy;
  font-size: 18px;
  border: none;
  border-radius: 0.2em;
  background-color: var(--clr-gold);
  box-shadow: 0 0 5px var(--clr-red);
  padding: 0.4em 0.8em;
}

.exit-button {
  font-size: 40px;
  width: 30px;
  height: 45px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: white;
  padding: 20px;
  cursor: pointer;
}

#copy-btn {
  cursor: pointer;
  border-radius: 50%;
}

#copy-btn:hover {
  background: #ffffff53;
}
