@import url(./title.css);

:root {
  --bg-color: #1f1f1f;
  --fg-color: #fdfdfd;
  --organ-size: 44px;
  --clr-red: crimson;
  --bg-gradient: radial-gradient(var(--bg-color), black);
  --clr-dark-red: hsl(355, 85%, 30%);
  --clr-gold:hsla(51, 100%, 50%, 0.9);
}

#sub-title{
  font-size: 20px;
  color: var(--clr-gold);
  font-family: Schoolbell, fantasy;
  word-spacing: 5px;
}

main,
#login-form,
header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

}

main {
  width: 100vw;

  flex-direction: column;
}

#login-form {
  gap: 1em;
  padding: 4em;
  background-color:hsl(0, 0%, 12%);
  box-shadow: 0 0 8px hsl(0, 0%, 0%);
  border-radius: 0.4em;
}

#login-form input {
  width: 200px;
}

input {
  color: var(--fg-color);
  border: none;
  border-radius: 0.2em;
  font-size: 18px;
  padding: 0.4em 0.8em;
  background-color: hsla(51, 100%, 50%, 0.1);
}

input:focus {
  outline-color: hsla(51, 100%, 50%, 0.5);
}

button {
  cursor: pointer;
  font-family: "Nerko one", fantasy;
  font-size: 18px;
  border: none;
  border-radius: 0.2em;
  background-color: var(--clr-gold);
  box-shadow: 0 0 5px var(--clr-red);
  padding: 0.4em 0.8em;
}
