* {
  margin: 0px;
  padding: 0px;
}

body {
  --clr-dark-gray: hsl(0, 0%, 12%);
  --clr-gray: hsl(0, 0%, 30%);
  --clr-light-gray: hsl(0, 0%, 65%);
  background-color: #151414;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* background-image: url('../assets/background/bg_figma.png'); */
  background-image:
   url('../assets/background/bg_organs.png'), 
  /* radial-gradient(var(--clr-light-gray), var(--clr-dark-gray)) */
  radial-gradient(rgb(78, 78, 78),black);
  background-repeat: no-repeat;
  /* background-size: 50%; */
  background-position: bottom;

  color: var(--fg-color);
  backdrop-filter: brightness(60%) contrast(90%);
  transition: 200ms;
}



#title {
  text-align: center;
  color: #fff9f9;
  width:39%;
  display: flex;
  padding: 15vh 0vh;
  flex-direction: column;
}

.organ {
  position: relative;
  font-family: "Cooper Black", "Georgia", serif;
  font-size: 100px;
  font-weight: bold;
  width: 100%;
  text-align: left;
  line-height: 0.9;
  letter-spacing: 2px;
  text-shadow:
    /* 2px 2px 0 #d8d2cb,
    4px 4px 0 #b8b0a8; */
    4px 4px 2px #000000,
    4px 4px 3px #9c2b03,
    4px 4px 5px #eaba1c;

}

.attack {
  font-family: "Playbill", "Rockwell Extra Bold", serif;
  text-align: right;
  font-size: 110px;
  font-weight: bold;
  line-height: 0.9;
  margin-top: -10px;
  letter-spacing: 3px;
  text-shadow:
    4px 4px 5px #000000,
    4px 4px 10px #9c2b03,
    4px 4px 10px #eaba1c;
}