[data-vaccine]:not([data-vaccine="0"]) {
  --clr-bubble-blue: #99f0ff;
  padding: 0.8em;
  border-radius: 100vw;
  position: relative;
  box-shadow:
    inset 0 0 1em 2px var(--clr-bubble-blue),
    0 0 10px 2px var(--clr-bubble-blue);
}
.opponents [data-vaccine]:not([data-vaccine="0"]){
  margin: 3.2em;
}
.player-area [data-vaccine]:not([data-vaccine="0"])::before,
[data-vaccine]:not([data-vaccine="0"]) .avatar::before {
  content: "";
  z-index: 2;

  position: absolute;
  top: -0.4em;
  right: -1.8em;
  z-index: 3;
  width: 2.5em;
  height: 1.1em;

  background-image: url("/assets/icons/vaccine-full.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.player-area [data-vaccine="1"]::before,
[data-vaccine="1"] .avatar::before {
  background-image: url("/assets/icons/vaccine-empty.svg") !important;
}
